* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.card {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: 50px auto;
	padding: 25px;
	border: 1px solid #000;
	border-radius: 10px;
}

.card label {
	font-size: 20px;
	margin-bottom: 6px;
}

#newTask {
	margin-bottom: 16px;
}

#submit,
#newTask,
#clearButton {
	height: 26px;
	font-weight: 600;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid #b4b4b4;
}

#taskList {
	background-color: #f3d0d0;
	height: 540px;
	width: 500px;
	margin: 20px auto;
	border-radius: 5px;
}

#clearButton {
	margin: 0 150px;
}
